<div class=" fluid-container fixed-bottom bg-dark">
    <p class="text-center fixed-bottom text-white"> Site feito por Gustavo Fernandes </p>
    <img src="/images/logo_anim.gif" height="100px" >
  
</div>
  
</body>
</html>
