<nav class="navbar navbar-expand-lg fixed-top bg-black text-white mb-0">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="navbar-item">
						<a class="nav-item mx-2 text-decoration-none text-white " href="/">Home</a>
					</li>
					<li>
						<a class="nav-item mx-2 text-decoration-none text-white" href="/myBedroom">Quarto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>